{erl_opts, [
    debug_info,
    warnings_as_error,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "3.6.4"},
    {cowboy, "2.4.0"},
    {jiffy, "0.15.2"},
    {gun, "1.0.0"},
    {gproc, "0.8.0"}
]}.

{relx, [
    {release, {chatapp, "0.1.0"}, [chatserv]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        unknown
    ]},
    {plt_extra_apps, [
        cowlib
    ]}
]}.
